.button {
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 14px;
}

.clear {
  background: none;
  width: 0;

}
.dark {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.light {
  background: var(--secondary-color);
  color: var(--primary-color);
}


